---
# tasks file for roles/summary
- name: COLLECT DATA
  sros_command:
    commands:
      - show version
      - show chassis
      - show card
      - show mda
    # wait_for: result[0] contains Functional
    # provider: "{{ cli }}"
  register: show_output

- name: GENERATE THE DATASET
  template:
    src: roles/summary/templates/classic_summary.j2
    dest: results/{{ inventory_hostname }}_data.yml
# - debug: msg="{{ show_output.stdout_lines }}"

- name: IMPORT THE DATASET GENERATED
  include_vars:
    file: results/{{ inventory_hostname }}_data.yml

- name: IMPORT THE INTENT DATASET
  include_vars:
    file: roles/summary/vars/intent.yml

- name: DO THE DIFF ANALYSE
  template:
    src: roles/summary/templates/diff_analyse.j2
    dest: results/{{ inventory_hostname }}_report.txt